[submodule "ShigureCafeBackend"]
	path = ShigureCafeBackend
	url = https://github.com/ShigureNomiCafe/ShigureCafeBackend.git
[submodule "ShigureCafeFronted"]
	path = ShigureCafeFronted
	url = https://github.com/ShigureNomiCafe/ShigureCafeFronted.git
[submodule "ShigureCafePlugin"]
	path = ShigureCafePlugin
	url = https://github.com/ShigureNomiCafe/ShigureCafePlugin.git
[submodule "ShigureCafeBot"]
	path = ShigureCafeBot
	url = https://github.com/ShigureNomiCafe/ShigureCafeBot.git
